<!DOCTYPE html>
<html xmlns:th="http://wwww.thymelaf.org" xmlns:tiles="http://wwww.thymelaf.org">
<head lang="en">
</head>
<body>

<div tiles:fragment="content">

    <h1>Wellcome <b th:text="${session.cUser != null ? session.cUser.username : 'Stranger'}">user</b>!</h1>

    <a class="btn btn-info" href="/login" th:if="${session.cUser == null}">login</a>

    <form th:action="@{/logout}" method="post" th:if="${session.cUser != null}">
        <button type="submit" class="btn btn-info">logout</button>
    </form>

</div>

</body>
</html>